<!DOCTYPE HTML>
<html>

<head>
	<title>EURISTICA 2018</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>

	<!-- Header -->
	<header id="header" class="alt">
		<div class="inner">
			<h1>{{title}}</h1>
			<p>{{subtitle}}</p>
		</div>
	</header>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Banner -->
		<section id="intro" class="main">
			<span class="icon fa-diamond major"></span>
			<h2>{{title}}</h2>
			<p>{{subtitle}}</p>
		</section>

		<!-- Items -->
		<section id="events" class="main items">

			<article class="item" v-for="(item,i) in list">
				<header>
					<a href="#">
						<img :src='item.src' alt="" />
					</a>
					<h3>{{item.title}}</h3>
				</header>
				<p>
					<strong>{{item.date}}</strong>
					<br> {{item.content}}
				</p>
				<ul class="actions">
					<li>
						<a @click="modal(i)" class="button">More</a>
					</li>
					<li>
						<a href="#" class="button">Register</a>
					</li>
				</ul>
				<div :id="'modal'+i" class="modal">
					<h2>
						<a>{{item.title}}</a>
					</h2>
					<p>{{item.longContent}}</p>
				</div>
			</article>

		</section>

		

		<!-- Main -->
		<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li v-for="item in list">
					<a :href="item.link" :class="item.class" target="_blank">
						<span class="label">{{item.tag}}</span>
					</a>
				</li>
			</ul>
			<p class="copyright">&copy; {{subtitle}}</p>
		</footer>

	</div>

	<!-- Scripts -->
	<script type="text/javascript" src="assets/js/vue.js"></script>
	<script src="assets/js/data.js"></script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

	<!-- jQuery Modal -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</body>

</html>