<!DOCTYPE HTML>
<html>

<head>
	<title>EURISTICA 2018</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- jquery modal -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>

	<!-- Header -->
	<header id="header" class="alt">
		<div class="inner">
			<h1>{{title}}</h1>
			<p>{{subtitle}}</p>
		</div>
	</header>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Banner -->
		<section id="intro" class="intro main">
			<form id="regform" method="GET" action="" @submit.prevent="onSubmit">
				<div class="form-group">
					<label for="Name" class="form-label">Name</label>
					<input required type="text" class="form-input" name="Name">
				</div>

				<div class="form-group">
					<label for="Contact" class="form-label">Contact</label>
					<input required type="text" class="form-input" name="Contact">
				</div>

				<div class="form-group">
					<label for="Email" class="form-label">Email</label>
					<input required type="text" class="form-input" name="Email">
				</div>

				<div class="form-group">
					<label for="College" class="form-label">College</label>
					<input required type="text" class="form-input" name="College">
				</div>
				<div class="form-group">
					<label for="College" class="form-label">Events</label>
					<br>
					<label class="container" v-for="event in events">
						{{event}}
						<input type="checkbox" :name="event" value="1">
						<span class="checkmark"></span>
					</label>
				</div>

				<input type="submit" value="Register" id="register">
			</form>
		</section>

		<div id="successModal" class="modal">
			<h2>
				Congragulations!
			</h2>
			<p>
				Thank you for registering with us. We'll contact you shortly. Happy coding till then !
			</p>
		</div>
		<div id="errorModal" class="modal">
			<h2>
				Sorry :(
			</h2>
			<p>
				We have encountered some error, please try again later.
			</p>
		</div>

		<div id="incompleteModal" class="modal">
			<h2>
				Oops!
			</h2>
			<p>
				Please select at least one event.
			</p>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li v-for="item in list">
					<a :href="item.link" :class="item.class" target="_blank">
						<span class="label">{{item.tag}}</span>
					</a>
				</li>
			</ul>
			<p class="copyright">&copy; {{subtitle}}</p>
		</footer>

	</div>

	<!-- Scripts -->
	<script type="text/javascript" src="assets/js/vue.js"></script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/registerData.js"></script>
	<script src="assets/js/main.js"></script>

	<!-- jQuery Modal -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
</body>

</html>