
@font-face {
  font-family: 'Blanka-Regular';
  src: url('Blanka-Regular.eot?#iefix') format('embedded-opentype'),  url('Blanka-Regular.otf')  format('opentype'),
	     url('Blanka-Regular.woff') format('woff'), url('Blanka-Regular.ttf')  format('truetype'), url('Blanka-Regular.svg#Blanka-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
